$primary: #4db5ff;
$secondary: #1f1f38;
$bg: #0d0d1a;
$text: #fff;
$accent: #2c2c6c;
$purple: #8b3df0;
$pink: #ff2aa6;
$textcolor :inear-gradient(90deg, var(#8b3df0) 0%, var(#ff2aa6) 100%);

$breakpoint-mobile: 768px;
