@import "../Styles/Variables.scss";
@import "../Styles/Mixins.scss";

.navbar {
  background: $secondary;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  z-index: 10;

  .navbar__container {
    @include flex-center;
    justify-content: space-between;
  }
._Blink{
  display: flex;
  align-items: center ;
}
   .Blink_Effect {
        display: inline-block; // or block
  width: 12px;
  height: 12px;
  margin:  0 .8rem;
 background: linear-gradient(90deg, #8b3df0 0%, #ff2aa6 100%);
  border-radius: 50%;
  box-shadow: 0 0 10px #00ff1f;
  animation: bulb-blink 2.5s infinite ease-in-out;
    }
        @keyframes bulb-blink {
    0%, 100% {
      opacity: 1;
      box-shadow: 0 0 20px rgba(0, 209, 255, 0.7);
    }
    50% {
      opacity: 0.3;
      box-shadow: 0 0 8px rgba(0, 209, 255, 0.2);
    }
  } 
  .logo {
    font-size: 1.5rem;
   @include TextColor
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1.2rem;

    li a:hover {
      @include TextColor
    }

    @include respond-mobile {
      position: absolute;
      top: 60px;
      right: 0;
      background: $secondary;
      flex-direction: column;
      width: 200px;
      padding: 1rem;
      display: none;

      &.active {
        display: flex;
      }
    }
  }

  .menu-toggle {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;

    @include respond-mobile {
      display: block;
    }
  }
}